[submodule "external/google-benchmark"]
	path = external/google-benchmark
	url = https://gitlab.com/galaxia-project/extern/google-benchmark.git
[submodule "external/google-test"]
	path = external/google-test
	url = https://gitlab.com/galaxia-project/extern/google-test.git
[submodule "external/facebook-rocksdb"]
	path = external/facebook-rocksdb
	url = https://gitlab.com/galaxia-project/extern/facebook-rocksdb.git
[submodule "external/jarro2783-cxxopts"]
	path = external/jarro2783-cxxopts
	url = https://gitlab.com/galaxia-project/extern/jarro2783-cxxopts.git
[submodule "external/yhirose-cpp-linenoise"]
	path = external/yhirose-cpp-linenoise
	url = https://gitlab.com/galaxia-project/extern/yhirose-cpp-linenoise.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://gitlab.com/galaxia-project/extern/miniupnp.git
[submodule "external/ruslo-leathers"]
	path = external/ruslo-leathers
	url = https://gitlab.com/galaxia-project/extern/ruslo-leathers.git
[submodule "external/lz4-lz4"]
	path = external/lz4-lz4
	url = https://gitlab.com/galaxia-project/extern/lz4-lz4.git
[submodule "external/google-breakpad"]
	path = external/google-breakpad
	url = https://gitlab.com/galaxia-project/extern/google-breakpad.git
[submodule "external/google-sparsehash-c11"]
	path = external/google-sparsehash-c11
	url = https://gitlab.com/galaxia-project/extern/google-sparsehash-c11.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://gitlab.com/galaxia-project/extern/nlohmann-json.git
[submodule "external/google-cpu-features"]
	path = external/google-cpu-features
	url = https://gitlab.com/galaxia-project/extern/google-cpu-features.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://gitlab.com/galaxia-project/extern/fmtlib.git
[submodule "external/rang"]
	path = external/rang
	url = ../extern/rang.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = ../extern/yaml-cpp.git
[submodule "external/asyncplusplus"]
	path = external/asyncplusplus
	url = ../extern/asyncplusplus
[submodule "external/uriparser"]
	path = external/uriparser
	url = ../extern/uriparser
